/* UserProfile.css */
/* logout button */
.logout-btn{
    cursor: pointer;
}
.logout-btn:hover {
    transform: rotate(0.5turn) scale(1.3);
}


.profile-container {
    display: flex;
    background: #f9f9f9;
}

.sidebar {
    width: 260px;
    background:#fff;;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; /* Align items vertically */
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px green solid;
    padding: 15px;
    cursor: pointer;
    position: relative;
}

.sidebar ul li svg {
    margin-right: 10px; /* Margin between icon and text */
}


.sidebar li:hover {
    background-color: #e0e0e0; /* Background color on hover */
}

.profile-content {
    flex: 1;
    padding: 20px;
}
.profile-content h3{
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: underline
    ;
}
.sidebar ul li.active {
    font-weight: bold; /* Bold font for active item */
}


.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ddd;
    object-fit: cover;
}

.profile-name {
    font-size: 2em;
    margin: 10px 0;
}

.profile-email {
    font-size: 1.2em;
    color: #777;
}

.profile-details, .shipping-address, .shopping-history {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-details form, .shipping-address form, .shopping-history form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-details form label, .shipping-address form label, .shopping-history form label {
    font-weight: bold;
}

.profile-details form input, .shipping-address form input, .shopping-history form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #0056b3;
}
