.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .payment-methods {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .payment-method {
    flex: 1;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .payment-method.selected {
    border-color: #007bff;
    background-color: #f0f8ff;
  }
  
  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  input,
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .pay-button {
    padding: 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pay-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pay-button:hover:enabled {
    background-color: #0056b3;
  }
  /* design for checkout success page */
  .checkout-success-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .checkout-success-content {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .success-icon {
    font-size: 50px;
    color: #28a745;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  