*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik',sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
:root{
  --color-top-banner:#023c5e;
  --color-top-banner2:#0687d1;
  --color-search-icon-background:#c6ccc4;
  ---color-lower-banner:#3d5a99;
  ---color-white:#fff;
  ---color-light-yellow: #c9d921;
  ---color-dark-brown:#66471d;
  ---color-image-text:#bf4800;
  ---color-131921:#131921;
  ---color-button:#028702;
  ---color-button-light:#027002;
  ---color-f5f5f7:#f5f5f7;
  ---color-131921:#131921;
  ---color-1c1c1b:#1c1c1b;


}

/* header part start */
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;

}
.header-top-strip{
  border-bottom: 1px solid var(--color-top-banner2);
  background-color: var(--color-top-banner);
  
}
.header-upper{
  background-color: var(--color-top-banner);
}
.header-upper .input-group-text{
  background-color: var(--color-search-icon-background);
}
.header-upper .header-upper-links img{
  height: 35px;
  width: 35px;

}
.button{
  background-color:var(---color-button) ;
  color: white;
  font-size: 14px;
  padding: 12px 18px;
  border-radius: 25px;

}
.button:hover{
  background-color:var(---color-button-light) ;
  color: white;

}
.header-bottom{
  background-color: var(---color-lower-banner);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button 
{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;

}
.header-bottom .dropdown-menu{
  background-color: var(--color-top-banner);
  width: 100%;
  transform: translate3d(0px,57px,0px)!important;
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-search-icon-background);
  
}
.header-bottom .dropdown-item{
  padding: 16px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(---color-dark-brown);

}

/* header part end here */

/* footer part start here */
footer{
  background-color:var(--color-top-banner);
  border-bottom: 1px solid var(---color-lower-banner);
}
footer:nth-child(3){
  border-top: 1px solid var(---color-light-yellow);
}
footer .input-group-text{
  color: white;
  background-color: var(--color-top-banner);
  padding: 8px 17px;

}
.card-wrapper{
  background-color: var(---color-white);
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

/* footer part end here */

/* Home page start */

/* home wrapper-1 start */
.main-banner-content {
  top: 60px ;
  left: 5%;

}
.main-banner-content h4{
  font-size: 20PX;
  font-weight: 400;
  line-height: 24PX;
  color: var(---color-image-text);
}
.main-banner-content h3{
  margin-top: 32px;
  margin-bottom: 10px;
  font-size: 42px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
  line-height: 44px;
}
.main-banner-content p{

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4;
  line-height: 28px;
  color:var(---color-131921) ;
}
.main-product-wrapper{
  position: sticky;
  top: 0;
}

.small-banner-content {
  top: 25%;
  left: 10%;
}
.small-banner-content h4{
  font-size: 14PX;
  font-weight: 400;
  line-height: 24PX;
  color: var(---color-image-text);
}
.small-banner-content h3{
  font-size: 22px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
  line-height: 34px;
}
.small-banner-content p{

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4;
  line-height: 22px;
  color:var(---color-131921) ;
}
.small-banner{
  width: 49%;
}
/* home wrapper-1 end */


/* home wrapper-2 start */
.home-wrapper-2{
  background-color: var(---color-f5f5f7);
}

/* home wrapper-2 end */

/* category section start */
.categories{
  background-color: var(---color-white);
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div{
  width: 25%;
  padding: 10px 10px 10px 20;

}
.categories > div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-search-icon-background);
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3){


  border-right: 1px solid var(--color-search-icon-background);
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7){


  border-right: 1px solid var(--color-search-icon-background);
}
.categories>div>div{
  width: 60%;
}



/* category section start */


/* Blog Part start */

.blog-card{
  background-color: white;
  border-radius: 10px;


}
.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content{
  padding: 15px;
}
.blog-content .date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: var(---color-dark-brown);
}
.blog-content h5{
  font-size: 18px;
  color: var(---color-131921);

}
.blog-content p .desc{
  font-size: 13px;
  line-height: 22px;
  color: var(---color-dark-brown);
}
.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
/* Blog Part end */
/* Product card Part start */
.product-card{
  padding: 15px;
  background-color: var(---color-white);
  border-radius: 10px;
  overflow: hidden;

}
.product-card .product-image{
  height: 270px;
}
.product-card  .description{
  font-size: 13px;
  color: #777777;
  margin-right: 20px;
}
.product-card .product-image img{
  object-fit: contain;
}
.product-card:hover .action-bar{
  right: 15px;
  top: 60px;
}
.product-card:hover .action-bar img{
  width: 28px;
}
.product-card .product-details h6{
  color:var(---color-image-text);
  font-size: 13px;

}
.product-card .product-details h5{
  font-size: 15px;
  color: var(---color-1c1c1b);

}
.product-card .product-details p .price{
  font-size: 16px;
  color: var(---color-1c1c1b);

}
.action-bar{
  top: 10%;
  right:-20px;
  transition: 0.3s;
}
.wishlist-icon{
  top: 3%;
  right: 15px;
  

}
.product-card .product-image img:last-child{
  display: none;
}
.product-card:hover .product-image> img:last-child{
  display: block;
}
.product-card:hover .product-image> img:nth-child(1){
  display: none;
}




/* Product Card Part end */


/* Special product start */
.special-product-card{
  padding: 10px;
  border-radius: 10px;
  background-color: var(---color-white);
}

/* Special product end */

/* famous card start */

.famous-card .famous-content{
  top: 3%;
  left: 3%;

}

.famous-content h5{
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: var(---color-white);
  margin-bottom: 7px;
  text-transform: uppercase;



}
.famous-content h6{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(---color-white);
  
}
.famous-content p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  color: var(---color-white);

  
}
.famous-card img{
  border-radius: 10px;
  
 
  

}
/* .famous-card{
  height: 250px;
  width: 200px;
} */
/* famous card end */


/* Home Page End */

/* Our Store Page start */
.filter-card{
  background-color: var(---color-white);
  border-radius: 10px;
  padding: 10px 15px 25px;
}
.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(---color-1c1c1b);

}
.filter-card ul, .filter-card .form-check-label{
  list-style: none;
  font-size: 13px;
  line-height:30px ;
  color: #777777;
  cursor: pointer;
  

}
.sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(---color-1c1c1b);
  margin-bottom: 15px;
}
.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.colors{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-sort-grid{
  padding: 10px;
  background-color: var(---color-white);
  border-radius: 10px;
}
.grid .image{
  width: 32px;
  height: 32px;
  background-color:#f2f2f2;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}
.gr-12{
  width: 100%;
}
.gr-3{
  width: 24%;
}
.gr-12 .product-card{
  display: flex;
  gap: 20px;
}
.gr-12 .product-card .product-image{
  width: 270px;
  height: auto;
}
.gr-12 .action-bar{
  top: 17%;
}
/* Our Store Page end */

/* contact page start */
.contact-inner-wrapper{
  padding:30px 20px ;
  border-radius: 15px;
  background-color: var(---color-white);
  gap: 15px;
}
.contact-inner-wrapper >div{
  width: 48%;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
}
.contact-inner-wrapper form .form-contact{
  background-color: var(---color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul{
  list-style: none;
}
.contact-inner-wrapper address , .contact-inner-wrapper a, .contact-inner-wrapper p{
  color: #777777;
}
/* contact page end */
/* wishlist start  */
.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.wishlist-card   .title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(---color-1c1c1b);
}
.wishlist-card   .price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: var(---color-1c1c1b);
}



/* wishlist end  */


/* Auth card start */

.auth-card{
  padding: 20px;
  background-color: var(---color-white);
  width: 500px;

  margin: 30px auto;
  border-radius: 10px;

}
.auth-card h3{
  font-size: 19px;
  font-weight:500 ;
  color: #777777;
}
.auth-card .form-control{
  height: 50px;
  background-color:var(---color-f5f5f7) ;
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;

}
.auth-card a{
  font-size: 14px;
  font-weight: 400;
  color: var(---color-1c1c1b);

}
.auth-card .signup{
  background-color:var(---color-light-yellow);
  color: var(---color-white);

}
.auth-card .signup:hover{
  background-color:var(---color-button-light);
  color: var(---color-white);

}
.auth-card p{
  font-size: 13px;
  color: #777777;
}



/* Auth card end */






/* terms and policy pages start */
.policy{
  background-color: var(---color-white);
  padding: 30px;

}


/* terms and policy pages end */



/* prouct description page start */


.description-wrapper p{
  font-size: 14px;
  color: #777777;
}
.description-wrapper h4 .review-wrapper h3{
  font-size: 26px;
  color: var(---color-1c1c1b);
  margin-bottom: 10px;


}
.review-head{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-inner-wrapper{
  background-color:var(---color-white) ;
  padding: 30px;

}
.review-head h4{
  font-size: 18px;
  color: var(---color-1c1c1b) ;



}
.review-head p{
  font-size: 14px;
  color:#777777 ;

}
.review-form h4{
  font-size: 16px;
  color: #777777;

}
.review p{
  font-size: 14px;
  color: #777777;
}
review:not(:last-child){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);


}
.review-form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.main-product-image{
  padding: 20px;
  background-color: var(---color-white);
  border-radius: 10px;

}
.main-product-image >div{
  border: 1px solid rgba(0, 0, 0, 0.1);

}
.main-product-image img{
  width: 100% !important;
  height:500px !important ;
  object-fit: cover;

}
.other-product-images{
  background-color: var(---color-white);
  padding: 10px;

}
.other-product-images>div{
  padding: 40px;
  


}
.main-product-image .js-image-zoom__zoomed-image{
  left: 40px;
  padding: 10px;
  background-color: var(---color-white);
  border-radius: 10px;
  z-index: 1000;

}
.main-product-details{
  padding: 20px;
  background-color: var(---color-white);
  border-radius: 10px;
}
.border-bottom{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.main-product-details h3{
  font-size: 18px;
  font-weight: 600;
  color: var(---color-1c1c1b);
}
.main-product-details p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-product-details .review-btn, .t-review{
  color:#777777 ;
  font-size: 13px;

}
.product-heading{
  font-size: 14px;
  color: var(---color-1c1c1b);
  margin-top: 0;


}
.product-data{
  font-size: 13px;
  color: #777777;
  margin-top: 0;


}

/* prouct description page end */

/* cart page start */
.cart-header{
  border-bottom: 1px solid #eaeaea;
}
.cart-header h4{
  font-size: 13px;
  color: #777777;
}
.cart-col-1{
  width: 40%;

}
.cart-col-2{
  width: 10%;
  
}
.cart-col-3{
  width: 15%;
  
}
.cart-col-4{
  width: 15%;

  
}
.cart-col-1 p{
  color: #777777;
  font-size: 14px;


}
.cart-data .price{
  font-size: 14px;
  color: var(---color-1c1c1b);

}

/* shipping page start here */
.total{
  font-size: 14px;
  color: var(---color-1c1c1b);
}
.total-price{
  font-size: 16px;
  color: #777777;
}


/* shipping page end here */




/* cart page end */



/* CSS for col-md-6 */
.delete{
  cursor: pointer;
}
.qty-count{
  z-index: 100;
  top: 20px;
  right: 90px;
  width: 22px;
  height: 25px;
  font-size: 13px;
  font-weight: 400;
  
}
.cart-total{

  top: 50px;
  font-size: 14px;
  color: white;
  font-weight: 200;
}
.header-position{
  position: sticky;
  top: 0;
  z-index: 1000;

}


/* carousel implementation for home page */
.main-banner,
.main-banner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 8s ease-in-out;
}

.main-banner.active,
.main-banner1.active {
  opacity: 1;
}

@keyframes carousel {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.main-banner {
  animation: carousel 8s infinite;
}

.main-banner1 {
  animation: carousel 8s infinite 4s;
}
