.search-input{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 2px 2px 16px 11px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);


    
}
.search-icon{
    position: absolute;
    right: 30px;
    top: 4px;
    font-size: 20px;
    color: #666;

}





.search-results{
    position: absolute;
    top: 100%;
    left: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    max-width: 92%;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  .search-results li{
    padding: 10px;
    cursor: pointer;
  
  }
  .search-results li:hover{
    background-color: #f0f0f0;
  }
   .category-items{
   
    margin: 5px;
    cursor: pointer;
    padding: 10px;


   }
   .category-items:hover{
    background-color: #0687d1;
    transform: scale(1.1);
    transition: 0.2s;

   }
   .login-container img{

    padding: 2px;
    
   }
   .login-text{
    padding: 2px;
    font-size: 14px;
    font-weight: 300;
   }
   
   .nav-link {
    color: white;
    transition: background-color 0.2s, color 0.3s;
    transform: scale(1.1);
    font-style: bold;

  }
  
  .nav-link:hover, .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 800;
    color: white;
    border-radius: 5px;
  }
  
  .login-link, .cart-link {
    transition: background-color 0.3s;
  }
  
  .login-link:hover, .cart-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  .header-upper-links .d-flex.login-container:hover .login-text {
    color: white;
  }
  