.search-input{
    height: 40px;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 2px 2px 16px 11px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);


    
}
.search-icon{
    position: absolute;
    right: 30px;
    top: 4px;
    font-size: 20px;
    color: #666;

}





.search-results{
    position: absolute;
    top: 100%;
    left: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    max-width: 92%;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
  
  }
  
  .search-results li{
    padding: 10px;
    cursor: pointer;
  
  }
  .search-results li:hover{
    background-color: #f0f0f0;
  }
  